* {
  margin: 0;
  padding: 0;
}

header {
  min-height: 7vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "b h";
  background-color: dodgerblue;
}

header h1 {
  align-self: center;
  text-align: center;
  grid-area: h;
}

#cb {
  display: none;
}

#lb {
  display: grid;
  grid-area: b;
  justify-items: center;
  align-items: center;
  border: black 1px solid;
  width: 2em;
  height: 1.5em;
  border-radius: 0.25em;
  margin-left: 0.5em;
  align-self: center;
}
main {
  background-color: floralwhite;
  height: 200vh;
}

nav {
  display: none;
}

nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  text-align: center;
}
footer {
  background-color: deepskyblue;
}

#lb span {
  width: 1.25em;
  border-bottom: 2px solid black;
}

#lb:hover {
  background-color: blue;
}

#cb:checked nav {
  opacity: 1;
}

@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-template-areas: ". m r .";
  }
  header h1 {
    grid-area: m;
    align-self: center;
  }

  header nav {
    grid-area: r;
  }
  nav {
    display: grid;
    align-items: end;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  nav ul li {
    display: grid;
    align-items: end;
    width: 5em;
    height: 2em;
  }
  nav ul li:hover {
    background-color: gainsboro;
  }
  #lb {
    display: none;
  }
}
